.root {
    -fx-background-color: #1d1d1d;
    -fx-background-image: url('purple-space.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.goldRoot {
        -fx-background-color: #1d1d1d;
        -fx-background-image: url('goldbg.jpg');
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
}